body { font-size: calc(0.6em + 0.6vw); font-family: monospace; max-width: 60em; margin: 0 auto; color: black; background-color:white; }

nav { text-align: center; font-size: smaller; }
nav ul { list-style-type: none; }
nav ul li { display: inline-block; }
nav ul li + li::before { content: ' - '; }

table { table-layout: fixed; border-collapse: collapse; margin: auto; }
table, th, td { border: 1px solid black; padding: 8px; }

a.link-symbol { text-decoration: none; }
